:root {

    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    
    }

    * {
        color: var(--fontcolor);
        font-family: helvética;
    }

body {

    background: var(--bg);
        
    }
        
        .light-theme {

            --bg: var(--green);
            
            --fontcolor: var(--black);
            
            }

        .dark-theme {

            --bg: var(--black);
            
            --fontcolor: var(--green);
            
            }
        
        